.wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  .user {
    display: flex;
    align-items: flex-start;
  }
}
.avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.info {
  width: 330px;
  margin-left: 10px;
  strong {
    font-size: 1.8rem;
    margin-right: 5px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .check {
    color: rgb(32, 213, 236);
  }
}
.fullname {
  font-size: 15px;
  margin-left: 5px;
}
.contents {
  display: flex;
  align-items: flex-end;
  .more {
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
    font-size: 17px;
  }
  .content {
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 285px;
  }
}
.content.block {
  display: block;
}
.buttom {
  border-radius: 3px;
  padding: 7px 0;
  min-width: 120px;
}
.music {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  svg {
    font-size: 10px;
    margin-right: 7px;
  }
  span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 14px;
  }
}

// videodetail
.videodetail {
  background-color: rgba(22, 24, 35, 0.03);
  padding: 15px;
  .avatar {
    width: 40px;
    height: 40px;
  }
  .info {
    strong {
      font-weight: 700;
      font-size: 2.2rem;
    }
    .fullname {
      display: block;
      margin-top: -7px;
      font-size: 17px;
      font-family: sans-serif;
    }
    .contents {
      width: 520px;
      margin-left: -40px;
      position: relative;
      z-index: 4;
    }
    .content {
      width: 100%;
      margin-top: 8px;
      font-family: sans-serif;
    }
  }
}
