.wrapper {
  margin-top: 30px;
}
.profileAcount {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 600px;
}
.info {
  display: flex;
  img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 20px;
  }
}
.nick {
  margin-bottom: 15px;
  h2 {
    font-size: 35px;
    line-height: 40px;
  }
  p {
    font-weight: bold;
  }
}
.btn button {
  padding: 6px 45px;
  margin-right: 10px;
}
.unfollow {
  height: 36px;
  display: inline-block;
  width: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
}
.active {
  margin-top: 20px;
  span {
    font-weight: 600;
    margin-right: 7px;
    font-size: 18px;
    + span {
      margin-left: 15px;
    }
  }
}
.opption {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}
.menu-popper button:last-child {
  display: none;
}
.menu-popper {
  position: relative;
  box-shadow: rgb(0 0 0 / 20%) 0 0px 19px;
  &::after {
    content: "";
    display: block;
    border-width: 13px 10px;
    position: absolute;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    top: -23px;
    right: 25px;
  }
}

// ?body
.videoblock {
  margin-top: 15px;
}
.buttontab {
  display: flex;
  align-items: center;
  position: relative;
  width: 250px;
  svg {
    color: #858287;
  }
}
.btn {
  position: relative;
  width: 50%;
}
.btn button {
  padding: 6px 25px;
}
.videotab {
  display: flex;
  flex-wrap: wrap;
}
.locktab {
  min-height: 280px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    opacity: 0.3;
  }
}
.border {
  width: 50%;
  height: 1px;
  background-color: rgb(88, 82, 82);
  position: absolute;
  bottom: 0;
  transition: 0.2s;
  border-radius: 10px;
}
.border.tranf {
  transform: translateX(100%);
}
.watched {
  position: absolute;
  bottom: 45px;
  left: 10px;
  z-index: 1;
  color: #fff;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
