.rigisterUser {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .rigisterUser_Main {
    height: 525px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;

    .rigisterUser_Main-delete {
      height: 7%;
      position: absolute;
      right: 25px;
      padding: 10px;

      span {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0;
        opacity: 0.5;
        font-size: 20px;
      }
    }

    .rigisterUser_Main-title {
      height: 10%;

      h2 {
        margin: 0;
      }

      .isFormValid {
        color: red;
      }

      .isFormSuccess {
        color: rgb(12, 192, 48);
      }
    }

    form {
      width: 483px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  .rigisterUser_Main-submit button {
    background-color: var(--primary);
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
  }
}

.rigisterUserNone {
  display: none;
}
