.wrappper {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 20px;
  background-color: #fff;
  width: 615px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  button {
    padding: 0 25px;
    background-color: transparent;
    font-size: 17px;
    opacity: 0.7;
    cursor: pointer;
  }
}

.wrappper > div {
  flex: 1;
  position: relative;
  background-color: rgba(22, 24, 35, 0.06);
  padding: 3px 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &:focus-within {
    border: 1px solid var(--border-color);
  }
}

.input {
  background: #fff;
  height: 23px;
  background-color: transparent;
  color: #000;
}

.wrappper > div span {
  font-size: 20px;
  display: flex;
  cursor: pointer;
  padding: 5px;
}
.wrappper > div span:last-child {
  margin-left: 10px;
}
